Repository adamkwhite/job-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: sonarlint, check-scoring-sync

sonarlint:
  name: SonarLint analysis
  entry: bash -c 'bash ~/Code/tools/sonarlint-ls-cli/scan.sh analyze --files "$@"' --
  language: system
  require_serial: true

check-scoring-sync:
  name: Check scoring/email template sync
  entry: .pre-commit-hooks/check-scoring-sync.sh
  language: script
  pass_filenames: false

fix: Remove ProfileScorer seniority override, use BaseScorer relative scoring (#311) (#314)
  src/agents/profile_scorer.py
  tests/unit/test_adam_profile_anthropic_keywords.py
  tests/unit/test_profile_scorer_seniority_fix.py
Due: sonarlint

refactor: Port JobScorer features to BaseScorer as profile-configurable options
  src/agents/base_scorer.py
  src/agents/profile_scorer.py
  src/models/pydantic_models.py
Due: sonarlint

refactor: Replace all JobScorer callers with ProfileScorer, delete job_scorer.py
  .pre-commit-config.yaml
  src/agents/job_scorer.py
  src/jobs/company_scraper.py
  src/jobs/hybrid_scraper.py
  src/jobs/store_company_jobs.py
  src/rescore_all_jobs.py
Due: sonarlint, check-scoring-sync

test: Update all tests for unified scoring architecture
  .pre-commit-config.yaml
  tests/unit/test_base_scorer.py
  tests/unit/test_circular_imports.py
  tests/unit/test_company_scraper.py
  tests/unit/test_config_validation.py
  tests/unit/test_country_restriction_filtering.py
  tests/unit/test_filtering_integration.py
  tests/unit/test_grade_consistency.py
  tests/unit/test_hybrid_scraper.py
  tests/unit/test_job_scorer.py
  tests/unit/test_multi_profile_duplicate_scoring.py
  tests/unit/test_relative_seniority_scoring.py
  tests/unit/test_wes_profile_scoring.py
Due: sonarlint

fix: Add CI-safe inline profiles and update check-scoring-sync workflow
  .github/workflows/check-scoring-sync.yml
  tests/unit/conftest.py
  tests/unit/test_config_validation.py
  tests/unit/test_country_restriction_filtering.py
  tests/unit/test_filtering_integration.py
  tests/unit/test_wes_eli_role_types_fix.py
  tests/unit/test_wes_profile_scoring.py
Due: sonarlint

fix: Fix check-scoring-sync workflow multiline output and hard failure
  .github/workflows/check-scoring-sync.yml
Due: none

fix: Update inline Mario profile with full role_types for CI
  tests/unit/conftest.py
Due: sonarlint

refactor: Unify scoring architecture — eliminate dual JobScorer/ProfileScorer paths (#312) (#315)
  .github/workflows/check-scoring-sync.yml
  .pre-commit-config.yaml
  src/agents/base_scorer.py
  src/agents/job_scorer.py
  src/agents/profile_scorer.py
  src/jobs/company_scraper.py
  src/jobs/hybrid_scraper.py
  src/jobs/store_company_jobs.py
  src/models/pydantic_models.py
  src/rescore_all_jobs.py
  tests/unit/conftest.py
  tests/unit/test_base_scorer.py
  tests/unit/test_circular_imports.py
  tests/unit/test_company_scraper.py
  tests/unit/test_config_validation.py
  tests/unit/test_country_restriction_filtering.py
  tests/unit/test_filtering_integration.py
  tests/unit/test_grade_consistency.py
  tests/unit/test_hybrid_scraper.py
  tests/unit/test_job_scorer.py
  tests/unit/test_multi_profile_duplicate_scoring.py
  tests/unit/test_relative_seniority_scoring.py
  tests/unit/test_wes_eli_role_types_fix.py
  tests/unit/test_wes_profile_scoring.py
Due: sonarlint, check-scoring-sync

docs: Triage issue #9 — close umbrella, create focused issues (#317-#319)
  todo.md
Due: none

docs: Triage issue #9 — close umbrella, create focused issues (#317-#319) (#320)
  todo.md
Due: none

fix: Extract duplicated string literals in tui.py (SonarCloud S1192)
  src/tui.py
Due: none

refactor: Reduce cognitive complexity in firecrawl_career_scraper.py (S3776)
  src/scrapers/firecrawl_career_scraper.py
Due: sonarlint

refactor: Reduce cognitive complexity in rescore_jobs.py (S3776)
  src/utils/rescore_jobs.py
Due: sonarlint

fix: Extract duplicated string literals in tui.py (SonarCloud S1192) (#321)
  src/tui.py
Due: none

refactor: Reduce cognitive complexity in tui.py (SonarCloud S3776)
  src/tui.py
Due: none

refactor: Reduce cognitive complexity in tui.py (SonarCloud S3776) (#322)
  src/tui.py
Due: none

refactor: Reduce cognitive complexity in rescore_jobs.py (S3776) (#324)
  src/utils/rescore_jobs.py
Due: sonarlint

refactor: Reduce cognitive complexity in firecrawl_career_scraper.py (S3776) (#323)
  src/scrapers/firecrawl_career_scraper.py
Due: sonarlint

feat: Description-aware scoring for domain and technical keywords (#316)
  src/agents/base_scorer.py
  src/database.py
  tests/unit/test_base_scorer.py
  tests/unit/test_database.py
Due: sonarlint

fix: Resolve all SonarCloud issues in feedback_parser.py
  src/parsers/feedback_parser.py
Due: sonarlint

fix: Resolve all SonarCloud issues in feedback_parser.py (#325)
  src/parsers/feedback_parser.py
Due: sonarlint

feat: Description-aware scoring for domain and technical keywords (#316) (#326)
  src/agents/base_scorer.py
  src/database.py
  tests/unit/test_base_scorer.py
  tests/unit/test_database.py
Due: sonarlint

refactor: Reduce cognitive complexity in job_validator.py and send_profile_digest.py (S3776)
  src/send_profile_digest.py
  src/utils/job_validator.py
Due: sonarlint

refactor: Reduce cognitive complexity in job_validator.py and send_profile_digest.py (S3776) (#327)
  src/send_profile_digest.py
  src/utils/job_validator.py
Due: sonarlint

feat: Add job description enrichment module and company scraper integration (#316)
  src/enrichment/job_description_enricher.py
  src/jobs/company_scraper.py
  tests/unit/test_job_description_enricher.py
Due: sonarlint

docs: Add SonarCloud badges to README
  README.md
Due: none

feat: Add job description enrichment module and company scraper integration (#316) (#328)
  src/enrichment/job_description_enricher.py
  src/jobs/company_scraper.py
  tests/unit/test_job_description_enricher.py
Due: sonarlint

docs: Add SonarCloud badges to README (#329)
  README.md
Due: none

refactor: Reduce cognitive complexity of review_company_failures in tui.py (S3776)
  src/tui.py
Due: none

refactor: Reduce cognitive complexity of review_company_failures in tui.py (S3776) (#330)
  src/tui.py
Due: none

fix: Improve website extraction accuracy in career page finder (#319)
  src/enrichment/career_page_finder.py
  tests/unit/test_career_page_finder.py
Due: sonarlint

fix: Improve website extraction accuracy in career page finder (#319) (#331)
  src/enrichment/career_page_finder.py
  tests/unit/test_career_page_finder.py
Due: sonarlint

feat: Add batch processing and DB storage to company list scraper (#317)
  src/scrapers/company_list_scraper.py
  tests/unit/test_company_list_scraper.py
Due: sonarlint

feat: Add monitoring and alerting for weekly scraper failures
  scripts/run_unified_scraper.sh
  src/jobs/weekly_unified_scraper.py
  src/utils/scraper_monitor.py
  tests/unit/test_scraper_monitor.py
Due: sonarlint

fix: Correct mock paths in company list scraper tests
  tests/unit/test_company_list_scraper.py
Due: sonarlint

chore: Remove auto-generated implementation summary
  IMPLEMENTATION_SUMMARY.md
Due: none

feat: Add batch processing and DB storage to company list scraper (#317) (#332)
  IMPLEMENTATION_SUMMARY.md
  src/scrapers/company_list_scraper.py
  tests/unit/test_company_list_scraper.py
Due: sonarlint

feat: Add monitoring and alerting for weekly scraper failures (#333)
  scripts/run_unified_scraper.sh
  src/jobs/weekly_unified_scraper.py
  src/utils/scraper_monitor.py
  tests/unit/test_scraper_monitor.py
Due: sonarlint

feat: Add structured logging to company list scraper (#318) + update README
  README.md
  src/scrapers/company_list_scraper.py
  todo.md
Due: sonarlint

Path conditions:
  sonarlint: any of: \.py$, but not: ^src/tui\.py$
  check-scoring-sync: any of: ^(src/agents/job_scorer\.py|config/filter-keywords\.json)$
