Repository adamkwhite/job-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: sonarlint, check-scoring-sync

.pre-commit-config.yaml:

# Pre-commit hooks configuration for job-agent
# Automatically runs code quality checks before each commit
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python linting and formatting with Ruff (replaces black, flake8, isort)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0  # Match CI version (ruff>=0.8.0 installs latest)
    hooks:
      - id: ruff
        name: Lint Python code with Ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        name: Format Python code with Ruff

  # Static type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        name: Type check with mypy
        additional_dependencies: [
          pydantic>=2.0.0,
          types-requests,
          types-beautifulsoup4,
        ]
        args: [--ignore-missing-imports, --show-error-codes, --explicit-package-bases]
        exclude: ^src/models\.py$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Remove trailing whitespace
      - id: end-of-file-fixer
        name: Ensure files end with newline
      - id: check-yaml
        name: Validate YAML files
      - id: check-json
        name: Validate JSON files
      - id: check-added-large-files
        name: Prevent large files (>500KB)
        args: ['--maxkb=500']
      - id: check-merge-conflict
        name: Check for merge conflict markers
      - id: debug-statements
        name: Check for debugger imports
      - id: no-commit-to-branch
        name: Prevent commits to main/master
        args: ['--branch', 'main', '--branch', 'master']

  # Security scanning (high-severity only for speed)
  # Comprehensive scan runs in CI/CD
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        name: Security scan with Bandit (high severity)
        args: [--severity-level, high, -c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]

  # Dependency security
  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.4.2
    hooks:
      - id: python-safety-dependencies-check
        name: Check dependencies for vulnerabilities
        files: requirements.*\.txt$

  # Commit message validation (conventional commits)
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        name: Validate commit message format
        stages: [commit-msg]
        args: [--strict]

  # SonarLint CLI analysis (local, offline)
  - repo: local
    hooks:
      - id: sonarlint
        name: SonarLint analysis
        entry: bash -c 'bash ~/Code/tools/sonarlint-ls-cli/scan.sh analyze --files "$@"' --
        language: system
        types: [python]
        require_serial: true
        exclude: ^src/tui\.py$  # tui.py has many pre-existing issues; excluded pending Issue #119 refactor

  # Custom scoring sync check
  - repo: local
    hooks:
      - id: check-scoring-sync
        name: Check scoring/email template sync
        entry: .pre-commit-hooks/check-scoring-sync.sh
        language: script
        files: ^(src/agents/job_scorer\.py|config/filter-keywords\.json)$
        pass_filenames: false

# Configuration options
default_language_version:
  python: python3.12

# Skip hooks for specific commits
# Usage: SKIP=mypy git commit -m "..."
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [sonarlint]  # Local-only hook; scan.sh not available on CI runners
  submodules: false

feat: Add structured logging to company list scraper (#318) + update README (#334)
  README.md
  src/scrapers/company_list_scraper.py
  todo.md
Due: sonarlint

docs: Clean up stale todo.md
  todo.md
Due: none

docs: Clean up stale todo.md (#335)
  todo.md
Due: none

refactor: Extract BaseCareerScraper from FirecrawlCareerScraper
  src/enrichment/job_description_enricher.py
  src/scrapers/base_career_scraper.py
  src/scrapers/firecrawl_career_scraper.py
  tests/unit/test_firecrawl_career_scraper.py
  tests/unit/test_firecrawl_pagination.py
  tests/unit/test_job_description_enricher.py
Due: sonarlint

refactor: Extract BaseCareerScraper from FirecrawlCareerScraper (#336)
  src/enrichment/job_description_enricher.py
  src/scrapers/base_career_scraper.py
  src/scrapers/firecrawl_career_scraper.py
  tests/unit/test_firecrawl_career_scraper.py
  tests/unit/test_firecrawl_pagination.py
  tests/unit/test_job_description_enricher.py
Due: sonarlint

feat: Add PlaywrightCareerScraper as default scraping backend
  requirements.txt
  src/jobs/company_scraper.py
  src/jobs/hybrid_scraper.py
  src/jobs/weekly_unified_scraper.py
  src/scrapers/playwright_career_scraper.py
  tests/unit/test_company_scraper.py
  tests/unit/test_hybrid_scraper.py
  tests/unit/test_playwright_career_scraper.py
Due: sonarlint

fix: Update test mock for career scraper factory method
  tests/unit/test_multi_profile_duplicate_scoring.py
Due: sonarlint

feat: Add PlaywrightCareerScraper as default scraping backend (#337)
  requirements.txt
  src/jobs/company_scraper.py
  src/jobs/hybrid_scraper.py
  src/jobs/weekly_unified_scraper.py
  src/scrapers/playwright_career_scraper.py
  tests/unit/test_company_scraper.py
  tests/unit/test_hybrid_scraper.py
  tests/unit/test_multi_profile_duplicate_scoring.py
  tests/unit/test_playwright_career_scraper.py
Due: sonarlint

feat: Add Crawl4AI career scraper backend + stealth for Playwright
  .pre-commit-config.yaml
  requirements.txt
  src/jobs/company_scraper.py
  src/jobs/hybrid_scraper.py
  src/jobs/weekly_unified_scraper.py
  src/scrapers/crawl4ai_career_scraper.py
  src/scrapers/playwright_career_scraper.py
  tests/unit/test_company_scraper.py
  tests/unit/test_crawl4ai_career_scraper.py
  tests/unit/test_playwright_career_scraper.py
  todo.md
Due: sonarlint

fix: Move crawl4ai and playwright-stealth to optional deps
  requirements.txt
Due: none

test: Add _async_fetch coverage for Crawl4AI scraper
  tests/unit/test_crawl4ai_career_scraper.py
Due: sonarlint

feat: Add Crawl4AI career scraper backend + stealth for Playwright (#338)
  .pre-commit-config.yaml
  requirements.txt
  src/jobs/company_scraper.py
  src/jobs/hybrid_scraper.py
  src/jobs/weekly_unified_scraper.py
  src/scrapers/crawl4ai_career_scraper.py
  src/scrapers/playwright_career_scraper.py
  tests/unit/test_company_scraper.py
  tests/unit/test_crawl4ai_career_scraper.py
  tests/unit/test_playwright_career_scraper.py
  todo.md
Due: sonarlint

fix: Make crawl4ai a required dependency, skip in CI install
  .github/workflows/ci.yml
  .github/workflows/security.yml
  requirements.txt
Due: none

fix: Make crawl4ai a required dependency, skip in CI install (#339)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  requirements.txt
Due: none

fix: Skip no-commit-to-branch hook in CI
  .github/workflows/ci.yml
Due: none

fix: Skip no-commit-to-branch hook in CI (#340)
  .github/workflows/ci.yml
Due: none

fix: Add missing role categories and wire scraper_backend in multi-inbox mode
  config/filter-keywords.json
  src/jobs/weekly_unified_scraper.py
Due: sonarlint, check-scoring-sync

fix: Add missing role categories and wire scraper_backend in multi-inbox mode (#341)
  config/filter-keywords.json
  src/jobs/weekly_unified_scraper.py
Due: sonarlint, check-scoring-sync

feat: Add Firecrawl fallback and extraction metrics (#342, #343)
  src/database.py
  src/jobs/company_scraper.py
  tests/unit/test_firecrawl_fallback_and_metrics.py
  todo.md
Due: sonarlint

feat: Add Firecrawl fallback and extraction metrics (#342, #343) (#344)
  src/database.py
  src/jobs/company_scraper.py
  tests/unit/test_firecrawl_fallback_and_metrics.py
  todo.md
Due: sonarlint

feat: Enable automated digest sending in weekly cron
  scripts/run_unified_scraper.sh
Due: none

feat: Enable automated digest sending in weekly cron (#347)
  scripts/run_unified_scraper.sh
Due: none

feat: Add interactive profile onboarding script (#346)
  scripts/onboard_profile.py
  tests/unit/test_onboard_profile.py
Due: sonarlint

feat: Add interactive profile onboarding script (#346) (#348)
  scripts/onboard_profile.py
  tests/unit/test_onboard_profile.py
Due: sonarlint

feat: Add --llm-model CLI flag for model comparison (Issue #345)
  CLAUDE.md
  data/manual_career_pages.txt
  src/extractors/llm_extractor.py
  src/jobs/company_scraper.py
  src/jobs/weekly_unified_scraper.py
  src/scrapers/base_career_scraper.py
  src/scrapers/crawl4ai_career_scraper.py
  src/scrapers/firecrawl_career_scraper.py
  src/scrapers/playwright_career_scraper.py
  tests/unit/test_llm_model_override.py
  todo.md
Due: sonarlint

refactor: Fix all SonarLint issues in llm_extractor.py
  src/extractors/llm_extractor.py
Due: sonarlint

fix: Remove config data from log to satisfy SonarCloud S5145
  src/extractors/llm_extractor.py
Due: sonarlint

feat: Add --llm-model CLI flag for model comparison (#345) (#350)
  CLAUDE.md
  data/manual_career_pages.txt
  src/extractors/llm_extractor.py
  src/jobs/company_scraper.py
  src/jobs/weekly_unified_scraper.py
  src/scrapers/base_career_scraper.py
  src/scrapers/crawl4ai_career_scraper.py
  src/scrapers/firecrawl_career_scraper.py
  src/scrapers/playwright_career_scraper.py
  tests/unit/test_llm_model_override.py
  todo.md
Due: sonarlint

fix: Update Gemini Flash model IDs for OpenRouter
  src/extractors/llm_extractor.py
  src/jobs/weekly_unified_scraper.py
  src/scrapers/base_career_scraper.py
  tests/unit/test_llm_model_override.py
Due: sonarlint

fix: Update Gemini Flash model IDs for OpenRouter (#351)
  src/extractors/llm_extractor.py
  src/jobs/weekly_unified_scraper.py
  src/scrapers/base_career_scraper.py
  tests/unit/test_llm_model_override.py
Due: sonarlint

fix: Resolve relative URLs from LLM extraction before validation
  src/scrapers/base_career_scraper.py
Due: sonarlint

test: Add coverage for relative URL resolution in BaseCareerScraper
  tests/unit/test_relative_url_resolution.py
Due: sonarlint

fix: Resolve relative URLs from LLM extraction (#352)
  src/scrapers/base_career_scraper.py
  tests/unit/test_relative_url_resolution.py
Due: sonarlint

feat: Switch default LLM to Gemini Flash and fix extraction_method persistence
  CLAUDE.md
  config/llm-extraction-settings.json
  src/database.py
  tests/unit/test_database_llm_extraction.py
  tests/unit/test_llm_model_override.py
Due: sonarlint

feat: Switch default LLM to Gemini Flash and fix extraction_method persistence (#353)
  CLAUDE.md
  config/llm-extraction-settings.json
  src/database.py
  tests/unit/test_database_llm_extraction.py
  tests/unit/test_llm_model_override.py
Due: sonarlint

feat: Add LLM vs Regex extraction metrics dashboard to TUI (#118)
  src/tui.py
  tests/unit/test_tui.py
Due: sonarlint

feat: Add LLM vs Regex extraction metrics dashboard to TUI (#118) (#354)
  src/tui.py
  tests/unit/test_tui.py
Due: sonarlint

fix: Show careers URL and error details in LLM failure review
  src/extractors/llm_extractor.py
  src/scrapers/base_career_scraper.py
  src/tui.py
Due: sonarlint

fix: Show careers URL and error details in LLM failure review (#355)
  src/extractors/llm_extractor.py
  src/scrapers/base_career_scraper.py
  src/tui.py
Due: sonarlint

fix: Show source email in discovered company review panel
  src/tui.py
Due: none
